* {
	tab-size: 2;
}

textarea {
	height: 20em;
	width: 45%;
}

.editors {
	height: 480px;
	position: relative;
}
.CodeMirror {
	position: absolute;
	height: 480px;
	width: 70%;
}
.code-impl .CodeMirror {
	right: 0;
	width: 30%;
	transition: width 0.1s;
	z-index: 50;
}
.code-impl .CodeMirror-focused {
	width: 70%;
}
.code-sample .CodeMirror {
	width: 100%;
}

.reveal .CodeMirror pre,
.reveal .CodeMirror-linenumber {
	box-shadow: none; /* this comes from reveal.js */
	font-family: consolas, menlo, monaco, monospace;
	font-size: 20px;
	line-height: 1.2;
}


#testStatus {
	position: absolute;
	border: 2px solid #000;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: 20px;
	left: 20px;
	cursor: pointer;
}
#testStatus[data-status=pending] {
	background-color: rgba(255,255,0,0.8);
}
#testStatus[data-status=ok] {
	background-color: rgba(0,255,0,0.8);
}
#testStatus[data-status=fail] {
	background-color: rgba(255,0,0,0.8);
}
#testResults {
	display: none;
	position: absolute;
	bottom: 60px;
	left: 60px;
	right: 60px;
	top: 60px;
	border: 2px solid #000;
	background-color: rgba(0,0,0,0.9);
	z-index: 999;
	color: #fff;
	overflow: scroll;
}
#testResults.visible {
	display: block;
}